<tr>
  <td><%= user.id %></td>
  <td><%= image_tag user.image.variant(resize_to_limit: [50, 50]), class: 'figure-img img-fluid rounded' if user.image.attached? %></td>
  <td><%= user.email %></td>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td>
    <%= link_to 'Show', user_path(user) %> |
    <%= link_to 'Edit', edit_user_path(user) %> |
    <%= link_to 'Destroy', user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %>
  </td>
</tr>